# Swift Package Manager
/.build
/Packages

# IDEs
/.swiftpm
/.vscode

# macOS
.DS_Store

# Project-specific settings
/antlr4

/Sources/Parser/**
!/Sources/Parser/Val.g4
!/Sources/Parser/ValParser+Extensions.swift
