# Swift Package Manager
/.build
/Packages

# Xcode
/.swiftpm

# macOS
.DS_Store

# Project-specific settings
/Sources/Compiler/Parsing/CitronParser.swift
/Sources/Parser/**
!/Sources/Parser/Val.g4
!/Sources/Parser/ValParser+Extensions.swift
