name: Format check

on:
  push:
    branches: [ main ]
    paths-ignore:
      - "Docs/**"
      - "**.md"
      - "README.md"
      - "LICENSE"
      - ".gitignore"
  pull_request:
    branches: [ "**" ]
    paths-ignore:
      - "Docs/**"
      - "**.md"
      - "README.md"
      - "LICENSE"
      - ".gitignore"

jobs:
  build:
    name: Format check
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - run: git config --global core.autocrlf input
    # possible workaround for https://github.com/swift-actions/setup-swift/issues/591
    - run: sudo apt update; sudo apt install ca-certificates

    - name: Setup swift
      uses: swift-actions/setup-swift@v1
      with:
        swift-version: "5.8"

    - name: Swift version
      run: swift --version

    - name: Check code format
      run: Tools/run-swift-format.sh -d lint
