name: Format check

defaults:
  run:
    shell: bash -eo pipefail {0}

on:
  push:
    branches: [ main ]
    paths-ignore:
      - "Docs/**"
      - "**.md"
      - "README.md"
      - "LICENSE"
      - ".gitignore"
  pull_request:
    branches: [ "**" ]
    paths-ignore:
      - "Docs/**"
      - "**.md"
      - "README.md"
      - "LICENSE"
      - ".gitignore"

jobs:
  build:
    name: Format check
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install swift-format
    - run: brew install swift-format

    - name: Check code format
    - run: swift-format lint -r --configuration .swift-format.json -p Sources Tests Package.swift
