name: Format check

on:
  push:
    branches: [ main ]
    paths-ignore:
      - "Docs/**"
      - "**.md"
      - "README.md"
      - "LICENSE"
      - ".gitignore"
  pull_request:
    branches: [ "**" ]
    paths-ignore:
      - "Docs/**"
      - "**.md"
      - "README.md"
      - "LICENSE"
      - ".gitignore"

jobs:
  build:
    name: Format check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/cache@v3
      with:
        path: .build
        key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-

    - name: Checkout
      uses: actions/checkout@v3

    - run: git config --global core.autocrlf input

    - name: Setup swift
      uses: sersoft-gmbh/swifty-linux-action@v2
        with:
          release-version: '5.8'
          github-token: ${{secrets.GITHUB_TOKEN}}

    - name: Swift version
      run: swift --version

    - name: Check code format
      run: Tools/run-swift-format.sh -d lint
