name: Spell check
on: [pull_request, push]

jobs:
  run:
    name: Spell Check using typos
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Actions Repository
      uses: actions/checkout@v3

    - name: Check spelling of file.txt
      uses: crate-ci/typos@v1.0.4
