name: Spell check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ "**" ]

jobs:
  run:
    name: Spell Check using typos
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Actions Repository
      uses: actions/checkout@v4
      with:
        submodules: true
        show-progress: false

    - name: Check spelling of file.txt
      uses: crate-ci/typos@v1.24.6
